@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center alert alert-dark" >
        <h1 class="display-4">Leave Management System </h1>
    </div>
    <div class="" style="background-image: url('https://jiwebtech.com/blog/image/63/post-image_file-must_have_leave_management_system.png'); height: 40rem; ">
        
    </div>


